/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(54, 162, 235); 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #008CBA; 
}

input[type=text], select {
    width: 100%;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-input {
    width: 100%; 
    display: inline-flex; 
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#survey {
    margin: 20px 28px 0 28px;
    padding-bottom: 28px;
}

.survey-title {
    font-family: Georgia, serif;
}

.survey-desc {
    text-align: justify;
    margin-bottom: 8px;
}

.cat-container {
    margin-bottom: 10px;
}

.cat-title {
    font-family: Georgia, serif;
    padding: 8px;
    color: rgb(255, 33, 81);
}

.cat-desc {
    text-align: justify;
    border: solid 2px #008CBA;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(193, 230, 255);
}

.cat-desc > span {
    font-weight: 700;
}

.q {
    width: 100%;
    display: grid;
    grid-template-columns: 25px 90px 28px auto;
    grid-template-rows: auto;
    gap: 5px;
    margin-top: 12px;
    text-align: justify;
}
.q:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

.qn {
    width: 25px;
    font-size: 14px;
    font-weight: 500;
}

.q-answer {
    max-height: 30px;
    padding: 5px 7px;
    width: 90px;
}

.comment-btn {
    max-height: 27px;
    background-color: rgb(193, 230, 255);
    border: solid 1px #008CBA;
    border-radius: 20px;
    cursor: pointer;
    color: #008CBA;
}

.comment-btn.active {
    background-color: rgb(255, 187, 202);
    color: rgb(188, 0, 41);
    border-color: rgb(188, 0, 41);
}

.comment {
    grid-row: 2; 
    grid-column: 3 / span 2;
    visibility: visible;
}

.q-text {
    align-self: center;
}